   {% macro autocomplete() -%}    
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js' type='text/javascript'></script>
        <script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js' type='text/javascript'></script>
        <script type="text/javascript" src="/static/jquery.indextank.ize.js"></script>
        <script type="text/javascript" src="/static/jquery.indextank.autocomplete.js"></script>
        <script type="text/javascript" src="/static/jquery.indextank.renderer.js"></script>  
        <link href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/themes/flick/jquery-ui.css' rel='stylesheet'>       


        <script>
            $(document).ready(function(){
                $("#search_form").indextank_Ize('http://rabega.api.indexden.com', 'people');

                $("#text").indextank_Autocomplete({fieldName: "text"});
                $("#name").indextank_Autocomplete({fieldName: "name"});
                $("#gender").indextank_Autocomplete({fieldName: "gender"});
                $("#current_location_dummy").indextank_Autocomplete({fieldName: "current_location_dummy"});
                $("#hometown_location_dummy").indextank_Autocomplete({fieldName: "hometown_location_dummy"});
                $("#work_dummy").indextank_Autocomplete({fieldName: "work_dummy"});
                $("#education_dummy").indextank_Autocomplete({fieldName: "education_dummy"});
                $("#likes_dummy").indextank_Autocomplete({fieldName: "likes_dummy"});
            });
        </script>

    {%- endmacro %}
