<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" />

    <!-- We get the name of the app out of the information fetched -->
    <title>People</title>
    <link rel="stylesheet" href="static/screen.css" media="Screen" type="text/css" />
    <link rel="stylesheet" href="static/mobile.css" media="handheld, only screen and (max-width: 480px), only screen and (max-device-width: 480px)" type="text/css" />

    {% import 'autocomplete.html' as autocomplete %}
    {{ autocomplete.autocomplete() }}

    <!--[if IEMobile]>
      <link rel="stylesheet" href="static/mobile.css" media="screen" type="text/css"  />
    <![endif]-->

    <!-- These are Open Graph tags.  They add meta data to your  -->
    <!-- site that facebook uses when your content is shared     -->
    <!-- over facebook.  You should fill these tags in with      -->
    <!-- your data.  To learn more about Open Graph, visit       -->
    <!-- 'https://developers.facebook.com/docs/opengraph/'       -->
    <meta content="" property="og:title" />
    <meta content="" property="og:type" />
    <meta content="" property="og:url" />
    <meta content="" property="og:image" />
    <meta content="" property="og:site_name" />
    <meta property="og:description" content="My First App" />
    <meta content="{{app_id}}" property="fb:app_id" />


  </head>
  <body>
 <fb:login-button autologoutlink="true"  perms="user_photos,user_birthday,user_relationship_details,user_hometown,user_likes,
    user_actions.video,user_actions.books,user_relationships"></fb:login-button>

    
  <div id="fb-root"></div>

  <script>
    window.fbAsyncInit = function() {
      // init the FB JS SDK
      FB.init({
        appId      : '{{ app_id }}',                        // App ID from the app dashboard
        channelUrl : '{{ channel_url }}',                   // Channel file for x-domain comms
        status     : true,                                 // Check Facebook Login status
        xfbml      : true,                                  // Look for social plugins on the page
        cookie     : true
      });


      FB.Event.subscribe('{% if current_user %}auth.logout{% else %}auth.login{% endif %}', function(response) {
          {% if current_user %} window.location = "/logout" {% else %} window.location.reload(); {% endif %}
        });   

      // FB.Canvas.setAutoGrow();
    };

    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

  </script>



   <header class="clearfix">
      <div id="left_area">   
        <div id="share-app">
          <!--<p id="picture" style="background-image: url(https://graph.facebook.com/me/picture?type=normal&access_token={{token}})"></p>-->
          <p>Share this app:</p>
          <ul>
            <li>
              <a href="#" class="facebook-button apprequests" id="sendRequest" data-message="Test this awesome app">
                <span class="apprequests">Invite Friends</span>
              </a>
            </li>
          </ul>
        </div>

        {% block topbar %}

        {% endblock %}

      </div>
    </header>

       

        {% block form %}
        {% endblock form %}


<div id="right_area">

  {% import 'forms.html' as forms %}

    {% if form_values is defined %}
      {{ forms.forms(form_values) }}
    {% else %}
      {{ forms.forms() }}
    {% endif %}

</div>   
 
<!-- 
        <script src="https://code.jquery.com/jquery-latest.min.js"></script>
        <script src="https://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
        <script src="/static/js/socketio/socket.io.min.js"></script>

        {% block extra_js %}
        {% endblock extra_js %}
 -->
 <div id="main">
        {% block content %}
        {% endblock content %}
  </div>
  </body>
</html>
