{% extends "base.html" %}

{% block topbar %}

  
  <!-- By passing a valid access token here, we are able to display -->
  <!-- the user's images without having to download or prepare -->
  <!-- them ahead of time -->
 
 
 
    <h1><strong>{{me.name}}</strong></h1>
    <img src="{{ resp.profile_pic_url }}" alt="{{me.name}}">

    <div ><br>
      <h1>Profile Pictures</h1>
      
        {% for photo in resp.profile_album %}
        <img src="{{ photo.src }}" alt="{{me.name}}" onclick="window.open('{{photo.src_big}}')">
       
        {% endfor %}
      
    </div>


    <div><br>
      <h1> About </h1>
      <ul>
        <li>Gender : {{ resp.gender }} </li>
        <li>Age : {{ age }} </li>
        <li>Work :
          {% if resp.work %} 
            {{ resp.work.0.position.name}} at {{ resp.work.0.employer.name}} - {{ resp.work.0.start_date }} to present  
          {% endif %}          
        </li>
        <li>Lives in : {{ resp.current_location_name }} </li>
        <li>From : {{ resp.hometown_location_name}} </li>
        <li>Born on : {% if resp.birthday %}  {{ resp.birthday.strftime('%b %d, %Y') }}  {% endif %}  </li> 
        <li>Interested in : {{ resp.interested_in }}  </li> 
      </ul>


    </div>

    <div><br>
      <h1> Education </h1>
        <ul>
          {% for edu in resp.education %}
            <li> {{ edu.type }} : {{ edu.school.name }}, {% if 'year' in edu %} class of {{ edu.year.name }} {% endif %} <li>
          {% endfor %}
        </ul>
    </div>    

    <div><br>
      <h1>Watched/Read</h1>
      
        {% for key,value in resp.watched %}
          {% if value %}
          <p><strong>{{ key }}</strong></p>
          {% endif %}
          <p>
          {% for like in value %}
                <img src="https://graph.facebook.com/{{like.id}}/picture?type=square" alt="{{like.title}}" 
                onclick="window.open('{{ like.url }}')" title="{{like.title}}">    
          {% endfor %}
          </p>
        {% endfor %}
    
    </div> 

    <div><br>
      <h1>Wants to Watch/Read</h1>
      
        {% for key,value in resp.wants_to %}
          {% if value %}
          <p><strong>{{ key }}</strong></p>
          {% endif %}
          <p>
          {% for like in value %}
                <img src="https://graph.facebook.com/{{like.id}}/picture?type=square" alt="{{like.title}}" 
                onclick="window.open('{{ like.url }}')" title="{{like.title}}">    
          {% endfor %}
          </p>
        {% endfor %}
    
    </div>      

    <div><br>
      <h1>Likes</h1>
      
        {% for key,value in resp.likes %}
          
          <p><strong>{{ key }}</strong></p>
          <p>
          {% for like in value %}
                <img src="https://graph.facebook.com/{{like.id}}/picture?type=square" alt="{{like.name}}" 
                onclick="window.open('http://www.facebook.com/{{like.id}}')" title="{{like.name}}">    
          {% endfor %}
          </p>
        {% endfor %}
    
    </div>





{% endblock %}

