
<!-- The following line is essential for the "position: fixed" property to work correctly in IE -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>

  </head>
  <body>

    <script src="/static/js/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
    <script src="/static/js/socketio/socket.io.min.js"></script>
		

    <link rel="stylesheet" href="/static/css/jquery-ui-1.8.2.custom.css" type="text/css" media="screen" />  
    <!-- // <script type="text/javascript" src="http://magma.cs.uiuc.edu/wenpu1/js/jquery-1.4.2.min.js"></script> -->
    <script type="text/javascript" src="/static/js/jquery-ui-1.8.2.custom.min.js"></script>
    <link type="text/css" href="/static/css/jquery.ui.chatbox.css" rel="stylesheet" />
    <script type="text/javascript" src="static/js/jquery.ui.chatbox.js"></script>
    <script type="text/javascript" src="static/js/chatboxManager.js"></script>
    <script src="/static/js/chat.js"></script>
    <!-- // <script type="text/javascript"> -->


    <!-- </script>  -->

<!-- <div> Online Users: 
      <form action="/online/monika" method="post">
        <input name="recipient" type="hidden" value="monika@jabber.fbpeople.com">
        <button>Monika</button>
    </form>
</div> -->

<div id="chat_div"></div>
<p>Online Users: </p>
<a href="#" onclick="addmybox('manoj', 'Manoj')">Manoj</a><br>
<a href="#" onclick="addmybox('ripusingla', 'Ripu')">Ripu</a><br>
<a href="#" onclick="addmybox('monika', 'Monika')">Monika</a><br>
<a href="#" onclick="addmybox('malik', 'Malik')">Malik</a>
<hr />
<!-- <div id="chat">

    <div id="messages">
        <div id="lines"></div>
    </div> -->

<!--     <form id="send-message">
        <input id="message">
        <input type="hidden" id="recipient" value="{{ recipient }}">
        <button>Send</button>
    </form> -->
<!-- </div> -->