<html>
    <head>
        <!-- Dependencies -->
<!--
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>
        <script type="text/javascript" src="jquery.indextank.ize.js"></script>
        <script type="text/javascript" src="jquery.indextank.autocomplete.js"></script>
        <script type="text/javascript" src="jquery.indextank.renderer.js"></script>   
        <link href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/themes/flick/jquery-ui.css' rel='stylesheet'>
 -->
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js' type='text/javascript'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js' type='text/javascript'></script>
        <script type="text/javascript" src="/static/jquery.indextank.ize.js"></script>
        <script type="text/javascript" src="/static/jquery.indextank.autocomplete.js"></script>
        <script type="text/javascript" src="/static/jquery.indextank.renderer.js"></script>  
    <link href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/themes/flick/jquery-ui.css' rel='stylesheet'>       

<!--
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js' type='text/javascript'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js' type='text/javascript'></script>
    <script src='https://raw.github.com/flaptor/indextank-jquery/master/jquery.indextank.ize.js' type='text/javascript'></script>
    <script src='https://raw.github.com/flaptor/indextank-jquery/master/jquery.indextank.autocomplete.js' type='text/javascript'></script>
    <link href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/themes/flick/jquery-ui.css' rel='stylesheet'>
    <link type="text/css" rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/south-street/jquery-ui.css" media="all" />
    <script type="text/javascript" src="jquery.indextank.instantsearch.js"></script>
     <script type="text/javascript" src="jquery.indextank.ajaxsearch.js"></script>
     <script type="text/javascript" src="querybuilder.js"></script>

-->
        <script>
            $(document).ready(function(){
                $("#myform").indextank_Ize('http://rabega.api.indexden.com', 'people');
                var renderer =  $("#results").indextank_Renderer();
                $("#query").indextank_Autocomplete({fieldName: "current_location_dummy"});
            });
        </script>
    </head>

    <body>
        <h3>Start typing and see suggestions from indextank.com's documentation.</h3>
        <form id="myform" action="ignored.html">
            <input id="query" type="text"/>
        </form>

        <div id="results"></div>

    </body>
</html>
