<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js" lang="en" ng-app="myApp"> <!--<![endif]-->
<head>

    <link rel="shortcut icon" href="/static/images/favicon2.ico">
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <!--<script src="/static/js/scale.fix.js"></script>-->
    <!--<script src="/static/js/prettify.js"></script>-->
    <script src="/static/js/bootstrap.min.js"></script>
    <!--<script src="/static/js/bootstrap-lightbox.js"></script>-->

    <script src="/static/js/angular.min.js"></script>
    <script src="/static/js/display.js"></script>



  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>People</title>


  <!-- CSS Reset -->

  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="/static/css/bootstrap-lightbox.css">-->
    <!--<link rel="stylesheet" href="/static/css/prettify.css">-->
    <link rel="stylesheet" href="/static/css/reset.css">
  <!-- Styling for your grid blocks -->
  <link rel="stylesheet" href="/static/css/style.css">

</head>

<body>



  <div id="container" >
      <div class="navbar navbar-fixed-top">
          <div class="navbar-inner" style="padding-left: 12px;">
              <a class="brand" href="#"><strong>People</strong><i class="icon-leaf"></i></a>
              <ul class="nav">
                  <li><a href="#">Stream</a></li>
                  <li><a href="#">Pin Board</a></li>
                  <li><a href="#">Account</a></li>
              </ul>
          </div>
      </div>
    <!--<header>-->
      <!--<h1><strong>Welcome to People!</strong></h1>-->
      <!--<p>People helps you find people who wants to be found, lets start a conversation...</p>-->
    <!--</header>-->


    <div id="main" role="main" ng-controller="DispCtrl" style="padding-top: 75px;">

        <!--<a data-toggle="lightbox" href="#demoLightbox"><img  src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/186466_220900067_1761400224_n.jpg"></a>-->
        <!--<form >-->
            <!--First: <input name="first" value="will" />-->
            <!--Last: <input name="last" value = "kriski" />-->
            <!--<input id="123" type="submit" name="submit" ng-click="ShowLightBox($event)"/>-->
        <!--</form>-->
        <!--<div id="images"></div>-->

        <!-- Button to trigger modal -->
        <!--<a href="#myModal" role="button" class="btn" data-toggle="modal">Launch demo modal</a>-->

        <!-- Modal -->
        <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel" class="lead">{{light_caption}} (25 yr)</h3>
            </div>
            <div class="modal-body">
                <div class="row-fluid">
                    <div class="span5">
                        <img class="span12 img-polaroid" ng-src="{{light_profile_pic_url}}">
                    </div>
                    <div class="span7" style="margin-left: -3%; margin-top: -2%;">
                        <ul class="unstyled">
                            <li ng-show="light_work_name"><i class="icon-briefcase"></i> {{ light_work_name }} </li>
                            <li ng-show="light_education_name"><i class="icon-book"></i> {{ light_education_name }} </li>
                            <li ng-show="light_current_location_name"><i class="icon-home"></i> Lives in {{ light_current_location_name }} </li>
                            <li ng-show="light_hometown_location_name"><i class="icon-map-marker"></i> From {{light_hometown_location_name }} </li>
                            <li ng-show="light_relationship_status"><i class="icon-flag"></i> {{ light_relationship_status }} </li>
                            <li ng-show="light_birthday"><i class="icon-gift"></i> {{ light_birthday }} </li>
                            <li ng-show="light_interested_in"><i class="icon-eye-open"></i> Interested In: {{ light_interested_in }} </li>
                            <li ng-show="light_likes_name"><i class="icon-heart"></i> {{ light_likes_name }} <a href="https://www.facebook.com/{{light_username}}/likes" target="_blank">more</a> </li>


                        </ul>

                        <div class="row-fluid" ng-show="light_thumbnails">
                            <ul class="thumbnails">

                                <li class="span3" ng-repeat="thumb in light_thumbnails">
                                    <img ng-click="change_light_pic($index)" class="img-polaroid" ng-src="{{thumb.src}}" style="width: 75px; height: 75px;">
                                </li>


                                <!--<li class="span3">-->
                                    <!--<a href="#" class="thumbnail">-->
                                        <!--<img ng-src="https://fbcdn-photos-g-a.akamaihd.net/hphotos-ak-prn1/936401_10151525490646312_1658312994_t.jpg" alt="">-->
                                    <!--</a>-->
                                <!--</li>-->
                                <!--<li class="span3">-->
                                    <!--<a href="#" class="thumbnail">-->
                                        <!--<img ng-src="https://fbcdn-photos-g-a.akamaihd.net/hphotos-ak-prn1/936401_10151525490646312_1658312994_t.jpg" alt="">-->
                                    <!--</a>-->
                                <!--</li>-->
                                <!--<li class="span3">-->
                                    <!--<a href="#" class="thumbnail">-->
                                        <!--<img ng-src="https://fbcdn-photos-g-a.akamaihd.net/hphotos-ak-prn1/936401_10151525490646312_1658312994_t.jpg" alt="">-->
                                    <!--</a>-->
                                <!--</li>-->
                                <!--<li class="span3">-->
                                    <!--<a href="#" class="thumbnail">-->
                                        <!--<img ng-src="https://fbcdn-photos-g-a.akamaihd.net/hphotos-ak-prn1/936401_10151525490646312_1658312994_t.jpg" alt="">-->
                                    <!--</a>-->
                                <!--</li>-->


                            </ul>
                        </div>



                    </div>
                </div>




            </div>
            <!--<div class="modal-footer">-->
                <!--<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>-->
                <!--<button class="btn btn-primary">Save changes</button>-->
            <!--</div>-->
        </div>


        <!--<div id="demoLightbox" class="lightbox hide fade"  tabindex="-1" role="dialog" aria-hidden="true">-->
            <!--<div class='lightbox-content'>-->
                <!--&lt;!&ndash;<div class="container-fluid">&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="row-fluid">&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="span2">&ndash;&gt;-->
                            <!--&lt;!&ndash;<p>message</p>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="span10">&ndash;&gt;-->
                            <!--&lt;!&ndash;<p>reply</p>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--<div>-->
                    <!--<img ng-src="{{light_url}}">-->
                    <!--<p style="position: relative; bottom:90%;"> my name is something</p>-->

                <!--</div>-->
                <!--&lt;!&ndash;<div class="lightbox-caption"><p>{{light_caption}}</p></div>&ndash;&gt;-->
            <!--</div>-->
        <!--</div>-->
        <!--Click me: <input type="checkbox" ng-model="checked"><br/>-->
        <ul id="tiles">



            <li ng-repeat="image in subset" lastdirective="" ng-cloak class="ng-cloak">
                <div class="polaroid">
                    <div class="options">
                        <div class="comment" title="Pin">
                            <a href="#"><em><i class=" icon-tag"></i></em><span>Pin</span></a>
                        </div>
                        <div class="like"  title="Like">
                            <a href="#"><em><i class="icon-thumbs-up"></i></em><span>Like</span></a>
                        </div>
                        <div class="save" title="Facebook Profile">
                            <a href="#"><em><i class="icon-user"></i></em><span>Profile</span></a>
                        </div>
                        <div class="magnify"  title="Chat">
                            <a  href="#"><em><i class=" icon-comment"></i></em><span>Chat</span></a>
                        </div>
                    </div>
                    <a ng-click="ShowLightBox($index)">
                        <img ng-src="{{image.profile_pic_url}}" width="200" height="{{image.height}}">
                    </a>
                    <p>{{image.name}}</p>
                </div>
            </li>









        </ul>

        <div id="loader"><div id="loaderCircle"></div></div>

    </div>
  </div>




  <!--<script src="/static/js/jquery.min.wookmark.js"></script>-->
  <script src="/static/js/jquery.wookmark.js"></script>
  <!--<script src="/static/js/grid.min.js"></script>-->
  <!--<script src="/static/js/modernizr-2.6.1.min.js"></script>-->


</body>
</html>